// ********** STYLE GUIDE **********

// ************ COLORS *************
$color-header-bg: linear-gradient(
  315deg,
  #d6e6fe 0%,
  rgba(214, 252, 254, 0) 100%
);
$color-header-primary: #253347;
$color-header-paragraph: #5e6e85;
$color-body-bg: #fff;
$color-details-bg: #fff;
$color-details-header: #253347;
$color-radio-label: #253347;
$color-radio-default: #d8e2e7;
$color-radio-hover: #345ff6;
$color-radio-active-bg: rgba(#345ff6, 0.15);
$color-radio-active-circle: #345ff6;
$color-input-bg: #fff;
$color-input-default-border: #d8e2e7;
$color-input-active-border: #345ff6;
$color-input-filled-border: #d8e2e7;
$color-input-error-border: #ff0000;
$color-input-number: #253347;
$color-input-unit: #345ff6;
$color-input-placeholder: rgba(#253347, 0.25);
$color-height-text: #5e6e85;
$color-weight-text: #5e6e85;
$color-bmi-result-bg: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
$color-bmi-result-text: #fff;
$color-meaning-header: #253347;
$color-meaning-paragraph: #5e6e85;
$color-improve-bg: linear-gradient(
  315deg,
  #d6e6fe 0%,
  rgba(214, 252, 254, 0) 100%
);
$color-improve-header: #253347;
$color-improve-paragraph: #5e6e85;
$color-limitations-header: #253347;
$color-limitations-paragraph: #5e6e85;
$color-limitations-bg: #fff;
$color-man-eating-bg: #e7f5fe;

// ************ TYPOGRAPHY ***********

// *********** FONT-FAMILY ***********
$font-primary: "Inter", sans-serif;

// ********** FONT-WEIGHTS ***********
$font-weight-semiBold: 600;
$font-weight-bold: 700;

// ************* MIXINS **************
@mixin measurements-styles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@mixin measurements-labels {
  color: $color-height-text;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

@mixin measurements-inputs {
  padding: 2rem 2.4rem;
  border-radius: 1.2rem;
  border: 0.1rem solid $color-input-default-border;
  color: $color-input-number;
  font-family: $font-primary;
  font-size: 2.4rem;
  font-weight: $font-weight-semiBold;
  letter-spacing: -0.12rem;
}

@mixin measurements-placeholders {
  color: rgba($color-input-placeholder, 0.25);
  font-family: $font-primary;
  font-size: 2.4rem;
  font-weight: $font-weight-semiBold;
  letter-spacing: -0.12rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin measurements-focus-styles {
  border: 0.1rem solid $color-input-active-border;
  outline: none;
}

@mixin measurements-invalid-styles {
  border: 0.1rem solid $color-input-error-border;
}

@mixin measurements-units {
  color: $color-input-unit;
  font-size: 2.4rem;
  font-weight: $font-weight-semiBold;
  letter-spacing: -0.12rem;
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
}

@mixin BMI-welcome-result-styles {
  max-width: 28rem;
  border-radius: 1.6rem;
  background: $color-bmi-result-bg;
  color: $color-bmi-result-text;
}

@mixin curved-line-styles {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

@mixin center-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// *************** BASE **************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  background: $color-body-bg;
}

html,
body {
  height: 100%;
}

// ********* MOBILE LAYOUTS *********

// **** 320px - 374px MEDIA QUERY ****
@media only screen and (max-width: 23.4375em) {
  // ********** BMI-DETAILS **********
  .BMI-details {
    width: 32rem;
    gap: 2rem;
  }

  // ********** BMI-WELCOME **********
  .BMI-welcome {
    padding: 2.6rem;
  }

  // ******** BMI-LIMITATIONS ********
  .BMI-limitations {
    padding: 7.2rem 1.9rem 9.6rem;

    .limitation-container {
      padding: 1.9rem;
    }
  }
}

// ******** 375px MEDIA QUERY ********
@media only screen and (min-width: 23.4375) {
  // ************ HEADER *************
  .header {
    background: $color-header-bg;
    border-radius: 0 0 3.5rem 3.5rem;
    max-height: 64rem;
    padding: 3.2rem 2.4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      display: block;
      width: 4rem;
      height: 4rem;
      margin-bottom: 2.4rem;
    }

    &__primary {
      max-width: 32.7rem;
      color: $color-header-primary;
      text-align: center;
      font-size: 4.8rem;
      font-weight: $font-weight-semiBold;
      line-height: 5.28rem;
      letter-spacing: -0.24rem;
      margin-bottom: 2.4rem;
    }

    &__paragraph {
      max-width: 32.7rem;
      color: $color-header-paragraph;
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 4.8rem;
    }
  }

  // ********** BMI-DETAILS **********
  .BMI-details {
    display: flex;
    flex-direction: column;
    max-width: 32.8rem;
    padding: 2.4rem;
    gap: 2.4rem;
    border-radius: 1.6rem;
    background: $color-details-bg;
    box-shadow: 1.6rem 3.2rem 5.6rem 0 rgba(143, 174, 207, 0.25);
    position: relative;

    &__header {
      color: $color-details-header;
      font-size: 2.4rem;
      font-weight: $font-weight-semiBold;
      letter-spacing: -0.12rem;
    }

    &__units {
      display: flex;
      gap: 5.3rem;
    }

    &__radio {
      &-input {
        display: none;

        &:checked
          + .BMI-details__radio-label
          .BMI-details__radio-button::after {
          content: "";
          display: inline-block;
          width: 3.1rem;
          height: 3.1rem;
          background-image: url("../assets/images/radio-button-active.svg");
        }
      }

      &-label {
        display: flex;
        align-items: center;
        gap: 1.8rem;
        color: $color-radio-label;
        font-size: 1.6rem;
        font-weight: $font-weight-semiBold;
        line-height: 2.4rem;
      }

      &-button {
        display: inline-block;
        width: 3.1rem;
        height: 3.1rem;
        border: 0.1rem solid $color-radio-default;
        border-radius: 50%;
      }
    }
  }

  // ****** METRIC MEASUREMENTS ******
  .metric {
    &-measurements {
      @include measurements-styles;
    }

    &__label {
      @include measurements-labels;
    }

    &__input-container {
      margin-top: 0.8rem;
      position: relative;
    }

    &__input {
      width: 100%;
      @include measurements-inputs;

      &::placeholder {
        @include measurements-placeholders;
      }

      &:focus {
        @include measurements-focus-styles;
      }

      &:invalid {
        @include measurements-invalid-styles;
      }
    }

    &__unit {
      @include measurements-units;
    }
  }

  // ********** BMI-WELCOME **********
  .BMI-welcome {
    @include BMI-welcome-result-styles;
    padding: 2.9rem;

    &__header {
      font-size: 2.4rem;
      font-weight: $font-weight-semiBold;
      letter-spacing: -0.12rem;
      margin-bottom: 1.6rem;
    }

    &__instructions {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  // *********** BMI-RESULT **********
  .BMI-result {
    @include BMI-welcome-result-styles;
    padding: 3.2rem;

    &__header {
      font-size: 1.6rem;
      font-weight: $font-weight-semiBold;
      line-height: 2.4rem;
      margin-bottom: 0.8rem;
    }

    &__number {
      display: inline-block;
      font-size: 4.8rem;
      font-weight: $font-weight-semiBold;
      line-height: 5.28rem;
      letter-spacing: -0.24rem;
      margin-bottom: 2.4rem;
    }

    &__paragraph {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }

    &__ideal-weight {
      font-weight: $font-weight-bold;
    }
  }

  // ***** IMPERIAL MEASUREMENTS *****
  .imperial {
    &-measurements {
      @include measurements-styles;
    }

    &__label {
      @include measurements-labels;
    }

    &__input-containers {
      margin-top: 0.8rem;
      display: flex;
      gap: 1.6rem;
    }

    &__input-container {
      display: inline-block;
      position: relative;
    }

    &__input {
      max-width: 13.2rem;
      max-height: 6.9rem;
      @include measurements-inputs;

      &::placeholder {
        @include measurements-placeholders;
      }

      &:focus {
        @include measurements-focus-styles;
      }

      &:invalid {
        @include measurements-invalid-styles;
      }
    }

    &__unit {
      @include measurements-units;
    }
  }

  // ********** BMI-MEANING **********
  .BMI-meaning {
    margin-top: 44rem;

    &__image-container {
      max-width: 37.5rem;
    }

    &__image {
      width: 100%;
    }

    &__text {
      padding: 4.8rem 2.4rem 7.161rem;
    }

    &__header {
      color: $color-meaning-header;
      font-size: 3.2rem;
      font-weight: $font-weight-semiBold;
      line-height: 3.52rem;
      letter-spacing: -0.16rem;
      margin-bottom: 3.2rem;
    }

    &__paragraph {
      max-width: 32.8rem;
      color: $color-meaning-paragraph;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  // ********** IMPROVE-BMI **********
  .improve-BMI {
    position: relative;
    padding: 5.6rem 2.896rem 5.6rem 1.904rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-improve-bg;
      opacity: 0.25;
      z-index: -1;
    }
  }

  .improve-container {
    &__icon {
      margin-bottom: 3.2rem;
    }

    &__header {
      color: $color-improve-header;
      font-size: 2.4rem;
      font-weight: $font-weight-semiBold;
      letter-spacing: -0.12rem;
      margin-bottom: 2.4rem;
    }

    &__paragraph {
      max-width: 32.7rem;
      color: $color-improve-paragraph;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  // ******** BMI-LIMITATIONS ********
  .BMI-limitations {
    padding: 7.2rem 2.9rem 9.6rem 1.9rem;
    display: flex;
    flex-direction: column;
    gap: 5.6rem;

    .limitations-text-container {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      text-align: center;

      &__header {
        color: $color-limitations-header;
        font-size: 3.2rem;
        font-weight: $font-weight-semiBold;
        line-height: 3.52rem;
        letter-spacing: -0.16rem;
      }

      &__paragraph {
        max-width: 32.7rem;
        color: $color-limitations-paragraph;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    .limitation-container {
      background: $color-limitations-bg;
      max-width: 32.7rem;
      padding: 2.4rem;
      border-radius: 1.6rem;
      box-shadow: 1.6rem 3.2rem 5.6rem 0 rgba(143, 174, 207, 0.25);
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &__icon-header {
        display: flex;
        align-items: center;
        gap: 1.6rem;
      }

      &__header {
        color: $color-limitations-header;
        font-size: 2rem;
        font-weight: $font-weight-semiBold;
        letter-spacing: -0.1rem;
      }

      &__paragraph {
        color: $color-limitations-paragraph;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }
}

// **** 376px - 767px MEDIA QUERY ****
@media only screen and (min-width: 23.5em) {
  // ************* HEADER *************
  .header {
    max-width: 57.15rem;
    margin: 0 auto;
  }

  // ********** BMI-MEANING **********
  .BMI-meaning {
    @include center-element;

    &__text {
      @include center-element;
    }

    &__header,
    &__paragraph {
      text-align: center;
    }
  }

  // ********** IMPROVE-BMI **********
  .improve-container {
    @include center-element;

    &__header,
    &__paragraph {
      text-align: center;
    }
  }

  // ******** BMI-LIMITATIONS ********
  .BMI-limitations {
    align-items: center;
  }
}

// ********** TABLET LAYOUT **********

// ******** 768px MEDIA QUERY ********
@media only screen and (min-width: 48em) {
  // ************* HEADER ************
  .header {
    max-width: 110.4rem;
    padding: 3.2rem 0 0;

    &__logo {
      margin-bottom: 4rem;
    }

    &__primary {
      max-width: 68.6rem;
    }

    &__paragraph {
      max-width: 68.6rem;
      margin-bottom: 4rem;
    }
  }

  // ********** BMI-DETAILS **********
  .BMI-details {
    max-width: 68.6rem;
    width: 68.6rem;
    padding: 3.2rem;
    gap: 3.2rem;

    &__units {
      gap: 22.4rem;
    }
  }

  // ****** METRIC MEASUREMENTS ******
  .metric {
    &-measurements {
      flex-direction: row;
      gap: 2.4rem;
    }
  }

  // ********** BMI-WELCOME **********
  .BMI-welcome {
    max-width: 62.2rem;
    padding: 3.2rem;
    border-radius: 1.6rem 99.9rem 99.9rem 1.6rem;
  }

  // ********** BMI-RESULT ***********
  .BMI-result {
    max-width: 62.2rem;
    border-radius: 1.6rem 99.9rem 99.9rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__number {
      margin-bottom: 0;
    }

    &__paragraph {
      max-width: 26.7rem;
    }
  }

  // ***** IMPERIAL MEASUREMENTS *****
  .imperial {
    &-measurements {
      gap: 2.4rem;
    }

    &__input-containers {
      gap: 2.4rem;
    }

    &__input {
      max-width: 29.9rem;
    }
  }

  // ********** BMI-MEANING **********
  .BMI-meaning {
    height: 41.2rem;
    margin: 27.7rem 0 9.6rem 0;
    flex-direction: row;
    gap: 7.5rem;
    align-items: initial;
    position: relative;

    &__image-container {
      width: 31.9rem;
      height: 29.9rem;
      background: $color-man-eating-bg;
      position: relative;
      top: 11.2rem;
      border-radius: 0 3.2rem 3.2rem 0;

      &::before {
        content: "";
        display: block;
        background-image: url("../assets/images/image-man-eating-no-bg.png");
        width: 31.9rem;
        height: 41.2rem;
        background-repeat: no-repeat;
        position: absolute;
        top: -11.2rem;
        right: 0;
      }
    }

    &__image {
      display: none;
    }

    &__text {
      padding: 0;
      text-align: initial;
      align-items: initial;
      align-self: center;
    }

    &__header,
    &__paragraph {
      max-width: 33.1rem;
      text-align: initial;
    }
  }

  // ********** IMPROVE-BMI **********
  .improve-BMI {
    padding: 6rem 4.3rem 6rem 3.9rem;
  }

  .improve-container {
    flex-direction: row;
    gap: 4rem;
    width: 68.6rem;
    height: 10.1rem;

    &__icon {
      margin-bottom: 0;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    &__header {
      text-align: initial;
      margin-bottom: 0;
    }

    &__paragraph {
      text-align: initial;
      max-width: 58.2rem;
    }
  }

  // ******** BMI-LIMITATIONS ********
  .BMI-limitations {
    padding: 9.6rem 4.3rem 9.6rem 3.9rem;

    .limitations-text-container {
      &__paragraph {
        max-width: 68.6rem;
      }
    }

    &__container {
      width: 68.6rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem 1.5rem;

      & .limitation-container:last-child {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: 36.5rem;
      }
    }

    .limitation-container {
      max-width: 33.5rem;
      padding: 3.2rem;
      gap: 1.6rem;
    }
  }
}

// *** 868px - 1439px MEDIA QUERY ****
@media only screen and (min-width: 54.25em) {
  // ********** BMI-MEANING **********
  .BMI-meaning {
    justify-content: center;

    &__image-container {
      width: 37.5rem;
      height: auto;
      background: initial;
      position: initial;
      top: initial;
      border-radius: initial;

      &::before {
        display: none;
      }
    }

    &__image {
      display: block;
    }
  }

  // ********** IMPROVE-BMI **********
  .improve-BMI {
    align-items: center;
  }
}

// ********* DESKTOP LAYOUT *********

// ******* DESKTOP HOVER STATES ******
// ******** 992px MEDIA QUERY ********
@media only screen and (min-width: 62em) {
  .BMI-details {
    &__radio-label:hover {
      cursor: pointer;
    }

    &__radio-input:not(:checked) + &__radio-label &__radio-button:hover {
      border: 0.1rem solid $color-radio-hover;
    }
  }
}

// ******* 1440px MEDIA QUERY *******
@media only screen and (min-width: 90em) {
  // ************* HEADER ************
  .header {
    max-width: initial;
    margin: initial;
    width: 97.8rem;
    height: 73.7rem;
    margin-left: 2.4rem;
    max-height: initial;
    align-items: initial;
    padding: 7.5rem 0 0 11.6rem;
    position: relative;

    &__logo {
      width: 6.4rem;
      height: 6.4rem;
      margin-bottom: 13.1rem;
    }

    &__primary {
      max-width: 56.4rem;
      text-align: initial;
      letter-spacing: -0.32rem;
      margin-bottom: 3.5rem;
      font-size: 6.4rem;
      line-height: 7.04rem;
    }

    &__paragraph {
      max-width: 46.5rem;
      margin-bottom: initial;
      text-align: initial;
    }
  }

  // ********** BMI-DETAILS **********
  .BMI-details {
    width: 56.4rem;
    max-width: initial;
    position: absolute;
    top: 18.2rem;
    left: 71.2rem;

    &__units {
      gap: 16.3rem;
    }
  }

  // *********** BMI-WELCOME ***********
  .BMI-welcome {
    max-width: 50rem;
  }

  // ************ BMI-RESULT ***********
  .BMI-result {
    max-width: 50rem;

    &__number {
      letter-spacing: -0.32rem;
      font-size: 6.4rem;
      line-height: 7.04rem;
    }

    &__paragraph {
      max-width: 20.6rem;
    }
  }

  // ****** IMPERIAL MEASUREMENTS ******
  .imperial {
    &__input {
      max-width: 23.8rem;
    }
  }

  // *********** BMI-MEANING ***********
  .BMI-meaning {
    gap: 13.1rem;
    height: auto;
    padding: 6.5rem 0 9.6rem 0;
    margin: 0;

    &::before {
      @include curved-line-styles;
      width: 8.7rem;
      height: 20rem;
      background-image: url("../assets/images/pattern-curved-line-left.svg");
      top: 1.3rem;
      right: 15.7rem;
    }

    &__image-container {
      width: 56.4rem;
      max-width: initial;
    }

    &__text {
      align-self: initial;
      position: relative;
      top: 18.4rem;
    }

    &__header {
      max-width: 46.5rem;
      letter-spacing: -0.24rem;
      margin-bottom: 3.5rem;
      font-size: 4.8rem;
      line-height: 5.28rem;
    }

    &__paragraph {
      max-width: 46.5rem;
    }
  }

  // *********** IMPROVE-BMI ***********
  .improve-BMI {
    width: 139.2rem;
    border-radius: 3.5rem;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    padding: 7.2rem 0 9.6rem;
    margin: 0 auto;
    align-items: initial;
    gap: 3.2rem;
  }

  .improve-container {
    flex-direction: column;
    gap: 4.5rem;
    width: 36.5rem;
    height: auto;
    align-items: start;

    &__paragraph {
      max-width: 36.5rem;
    }
  }

  // ********* BMI-LIMITATIONS *********
  .BMI-limitations {
    height: 94.4rem;
    padding: 12rem 14rem;
    align-items: initial;
    flex-direction: row;
    gap: initial;
    position: relative;

    .limitations-text-container {
      text-align: initial;
      gap: 3.5rem;

      &__header {
        letter-spacing: -0.24rem;
        font-size: 4.8rem;
        line-height: 5.28rem;
      }

      &__paragraph {
        max-width: 56.4rem;
      }

      &::after {
        @include curved-line-styles;
        width: 9.4rem;
        height: 12.2rem;
        background-image: url("../assets/images/pattern-curved-line-right.svg");
        top: 37.1rem;
        left: 30.5rem;
      }
    }

    &__container {
      display: initial;
      width: initial;
      width: 60rem;
    }

    .limitation-container {
      position: absolute;
      max-width: 36.5rem;

      &:first-of-type {
        top: 12rem;
        left: 83.6rem;
      }

      &:nth-of-type(2) {
        top: 38.4rem;
        left: 53.8rem;
      }

      &:nth-of-type(3) {
        top: 38.4rem;
        left: 93.5rem;
      }

      &:nth-of-type(4) {
        top: 59.2rem;
        left: 33.9rem;
      }

      &:last-of-type {
        top: 59.2rem;
        left: 73.6rem;
      }
    }
  }
}

// ** GREATER THAN 1539px MEDIA QUERY **
@media only screen and (min-width: 96.25em) {
  // ************* HEADER **************
  .header {
    margin-left: 8vw;
  }

  // ********* BMI-LIMITATIONS *********
  .BMI-limitations {
    width: 152.3rem;
    margin: 0 auto;
  }
}

// *** CLASS USED WITH JAVASCRIPT ***
.hidden {
  display: none;
}
