// ********** STYLE GUIDE **********

// ************ COLORS *************
$color-header-bg: linear-gradient(
  315deg,
  #d6e6fe 0%,
  rgba(214, 252, 254, 0) 100%
);
$color-header-primary: #253347;
$color-header-paragraph: #5e6e85;
$color-body-bg: #fff;
$color-details-bg: #fff;
$color-details-header: #253347;
$color-radio-label: #253347;
$color-radio-default: #d8e2e7;
$color-radio-hover: #345ff6;
$color-radio-active-bg: rgba(#345ff6, 0.15);
$color-radio-active-circle: #345ff6;
$color-input-bg: #fff;
$color-input-default-border: #d8e2e7;
$color-input-active-border: #345ff6;
$color-input-filled-border: #d8e2e7;
$color-input-number: #253347;
$color-input-unit: #345ff6;
$color-input-placeholder: rgba(#253347, 0.25);
$color-height-text: #5e6e85;
$color-weight-text: #5e6e85;
$color-bmi-result-bg: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
$color-bmi-result-text: #fff;
$color-meaning-header: #253347;
$color-meaning-paragraph: #5e6e85;
$color-improve-bg: linear-gradient(
  315deg,
  #d6e6fe 0%,
  rgba(214, 252, 254, 0) 100%
);
$color-improve-header: #253347;
$color-improve-paragraph: #5e6e85;
$color-limitations-header: #253347;
$color-limitations-paragraph: #5e6e85;

// ************ TYPOGRAPHY ***********

// *********** FONT-FAMILY ***********
$font-primary: "Inter", sans-serif;

// ********** FONT-WEIGHTS ***********
$font-weight-semiBold: 600;
$font-weight-bold: 700;

// *************** BASE **************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  background: $color-body-bg;
}

html,
body {
  height: 100%;
}

.BMI-meaning__image {
  max-width: 100%;
}

// ********** MOBILE LAYOUT **********

// ************* HEADER **************
.header {
  background: $color-header-bg;
  border-radius: 0 0 3.5rem 3.5rem;
  max-height: 64rem;
  padding: 3.2rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-bottom: 2.4rem;
  }

  &__primary {
    color: $color-header-primary;
    text-align: center;
    font-size: 4.8rem;
    font-weight: $font-weight-semiBold;
    line-height: 5.28rem;
    letter-spacing: -0.24rem;
    margin-bottom: 2.4rem;
  }

  &__paragraph {
    color: $color-header-paragraph;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 4.8rem;
  }
}

// *********** BMI DETAILS ***********
.BMI-details {
  display: flex;
  flex-direction: column;
  max-width: 32.8rem;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 1.6rem;
  background: $color-details-bg;
  box-shadow: 1.6rem 3.2rem 5.6rem 0 rgba(143, 174, 207, 0.25);
  position: relative;

  &__header {
    color: $color-details-header;
    font-size: 2.4rem;
    font-weight: $font-weight-semiBold;
    letter-spacing: -0.12rem;
  }

  &__units {
    display: flex;
    gap: 5.3rem;
  }

  &__radio {
    &-input {
      display: none;

      &:checked + .BMI-details__radio-label .BMI-details__radio-button::after {
        content: "";
        display: inline-block;
        width: 3.1rem;
        height: 3.1rem;
        background-image: url("../assets/images/radio-button-active.svg");
      }
    }

    &-label {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      color: $color-radio-label;
      font-size: 1.6rem;
      font-weight: $font-weight-semiBold;
      line-height: 2.4rem;
    }

    &-button {
      display: inline-block;
      width: 3.1rem;
      height: 3.1rem;
      border: 1px solid $color-radio-default;
      border-radius: 50%;
    }
  }
}

// ******* METRIC MEASUREMENTS *******
.metric-measurements {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
